Package: enigma2-plugin-extensions-panelaio
Version: 14.0.1
Section: systemplugins
Priority: optional
Architecture: all
Maintainer: Paweł Pawełek <aio-iptv@wp.pl>
Depends: enigma2
Provides: enigma2-plugin-systemplugins-panelaio
Description: AIO Panel 14.0.1 for Enigma2 Python 2 and Python 3
 Complete toolbox with original AIO picons, channel-list tools, Super Configurator,
 Softcam and OSCam-Emu support, backup, restore, diagnostics and online updates.
