Package: enigma2-plugin-extensions-panelaio
Version: 12.0.4
Section: extra
Priority: optional
Architecture: all
Maintainer: Paweł Pawełek <aio-iptv@wp.pl>
Description: AIO Panel 12.0.4 - stability update for Python 2/3, safe installers, oscam.dvbapi Poland and backup/restore fixes
Depends: enigma2
